VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:you@example.com
TURNSTILE_SECRET_KEY=
ADMIN_TOKEN=
INGDOC_API_BASE=https://api.ppr.evenmorestats.fr
INGDOC_EVENT_ID=019f5bd1-fe07-7d78-a326-a02198a9d50f
